:root{
    --background-page-color: #f1f1f1;
    --background-text-color: #2A2A2A;
    --text-color: #FBF9FA;
    --primary-color: #FF1E56;
    --secondary-color: #FFAC41;
    --border-color: #000000;
}